#gameArea {
    margin: auto;
    position: relative;
    background-color: black;
}

.ball {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
    border-radius: 50%;
}

.paddle {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
}

.brick {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: red;
}